/*
 *   ~  * Developed by - mGunawardhana
 *   ~  * Contact email - mrgunawardhana27368@gmail.com
 *   ~  * what's app - 071 - 9043372
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: white;
}

/* styles for calculator width height and borders */
.calculator{
    width: 300px;
    height: 500px;
    box-shadow: 4px 4px 30px rgba(0,0,0,0.3);
}