/*
 *   ~  * Developed by - mGunawardhana
 *   ~  * Contact email - mrgunawardhana27368@gmail.com
 *   ~  * what's app - 071 - 9043372
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: white;
    /* items getting on center */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* styles for calculator width height and borders */
.calculator {
    width: 300px;
    height: 500px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.3);
    /* giving background colour and hidden overflows */
    border-radius: 12px;
    background: #22252D;
    overflow: hidden;
}

/* calculator display set up */
form input {
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 12px;
    font-size: 2rem;
    padding: 1rem;
    color: white;
    background: black;

    /* text starting direction changed */
    text-align: right;

    /* disabling calculator display click and and typing option */
    pointer-events: none;
}

